<div class="side-bar">
  <div class="country">{{formattedCountryName}}</div>
  <div class="country-info">
    <div class="population">Population: {{formattedPopulation}}</div>
    <div class="population">Life Expectancy: {{lifeExpectancy}}</div>
    <div class="population">Death Rate: {{deathRate}}</div>
    <div class="population">GDP Per Capita: {{capita}}</div>
  </div>
  <div class="music-info">
  </div>
  <div class="twitter-info" id="info">
  	<div id="twitter"></div>
     <a class="twitter-timeline"
      href="https://twitter.com/search?q=%23{{formattedTwitter}}" 
      data-widget-id="" 
      data-screen-name="{{formattedTwitter}}"
      data-chrome="">
      Tweets from {{formattedTwitter}}</a>
    	<script>
    // 	!function(d,s,id){
    // 		var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
    // 		if(!d.getElementById(id)){
    // 			js=d.createElement(s);
    // 			js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
    // 			fjs.parentNode.insertBefore(js,fjs);
				// }
    // 	}(document,"script","twitter-wjs");

    	</script> 
  </div>
  <div class="music-info">
    <div class="population">Population: {{population}}</div>
  </div>
</div>
