<div class="side-bar">
  <div class="country">{{formattedCountryName}}</div>
  <div class="country-info">
    <div class="population">Population: {{formattedPopulation}}</div>
    <div class="population">Life Expectancy: {{lifeExpectancy}}</div>
    <div class="population">Death Rate: {{deathRate}}</div>
    <div class="population">GDP Per Capita: {{capita}}</div>
  </div>
  <div class="music-info">
  </div>

  <div class="twitter-info" id="info">
  	<div id="twitter" class="twitter-comp"></div>
     <a class="twitter-timeline"
      href="https://twitter.com/search?q=%23{{formattedTwitter}}"
      data-widget-id=""
      data-screen-name="{{formattedTwitter}}"
      data-chrome="">
      Tweets from {{formattedTwitter}}</a>
    </div>
  <div class="music-info">
  </div>
</div>
