<div class="side-bar">
  <div class="country">{{formattedCountryName}}</div>
  <div class="country-info">
    <div class="population">
	    Population: {{formattedPopulation}}
	  	<br>	
	  	Life Expectancy: {{expectancy}}
		<br>
		Death Rate: {{deathrate}}
		<br>
		GNI Per Capita: {{capita}}
  	</div>
  </div>
  <div class="twitter-info">
    <a class="twitter-timeline" 
      href="https://twitter.com/search?q=%23USA%20%23Sports" 
      data-widget-id="668277065687265280" 
      data-screen-name="USA"
      data-chrome="transparent"
      height="400">
      Tweets from {Screen Name}</a>
    	<script>!function(d,s,id){
    		var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
    		if(!d.getElementById(id)){
    			js=d.createElement(s);
    			js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
    			fjs.parentNode.insertBefore(js,fjs);}
    	}(document,"script","twitter-wjs");
    	</script>
  </div>
  <div class="music-info">
    <div class="population">Population: {{population}}</div>
  </div>
</div>


